
li{
    list-style-type: none;
    color: brown;
}
ul{
    display: flex;
    justify-content: center;
    
}
a{
    text-decoration: none;
    margin-right: 10px;
    font-size: 25px;
}
/* a.active{
    font-weight: bold;
    color: red;
} */